@use '../abstracts/index' as *;

header{
    background-color: $primary;
    margin: 0;
    padding: 0;
    height: 72px;
}

nav {
    display:flex;
    justify-content: space-between;
    align-items: center;
    img{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3rem;
    }
    ul{
        display: flex;
        justify-content: space-evenly;
        list-style: none;
        align-items: center;
        width: 18rem;
    }
    a {
        text-decoration: none;
    }
}