#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.jobs-container{
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60rem;
  flex-flow: wrap column;

}
.card {
  padding: 2rem 4rem;
  background-color: rgb(70, 100, 70);
  border-radius: 2rem;
  margin: 1rem;
  width: 45rem;
  height: 25rem;
  text-align: left;
}

img{
  width: 8rem;
}