@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    width: 100vw;
    height: 100vh;
    background-color: #FFFF;
}

.card:nth-of-type(odd) {
  background: linear-gradient(-90deg, rgba(207,207,255,1) 0%, rgba(172,172,235,1) 50%);
  }

  .card:nth-of-type(even) {
    background: radial-gradient(circle, rgb(110, 110, 156) 0%, rgb(158, 161, 227) 85%);
  }

  @keyframes fadeIn {
    0% {
      opacity: 0%;
    }
    100% {
      opacity: 100%;
    }
  }
  @keyframes enterLeft {
    0% {
      transform: translatex(100%);
    }
    100% {
      transform: translateX(0%);
    }
  }

  .fade-in {
    animation-name: fadeIn;
    animation-duration: 1.2s;
    animation-timing-function: ease-in-out;
  }

  .enter-left{
    animation-name: enterLeft;
    animation-duration: 1.2s;
    animation-timing-function: ease-in-out;
  }

/* Hover Shadow */

@keyframes shadow-drop-2-lr {
  0% {
    transform: translateZ(0);
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    transform: translateZ(50px);
    transform: scale(1.05);
    box-shadow: -12px 0 20px -12px rgba(0, 0, 0, 0.35), 12px 0 20px -12px rgba(0, 0, 0, 0.35);
  }
}
  .shadow-drop-2-lr:hover {
    animation: shadow-drop-2-lr 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }

  /* Register fade-in */
  
@keyframes scale-in-tl {
  0% {
    transform: scale(0);
    transform-origin: 0% 0%;
    opacity: 1;
  }
  100% {
    transform: scale(1);
    transform-origin: 0% 0%;
    opacity: 1;
  }
}


  .scale-in-tl {
    animation: scale-in-tl 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }

textarea, input { outline: none; }
