@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    width: 100vw;
    height: 100vh;
    background-color: #FFFF;
}

.card:nth-of-type(odd) {
    background-color: #ACACEB;
  }

  .card:nth-of-type(even) {
    background-color: #CFCFFF;
  }
  